$color-primary: #4866E2 !important;
$color-secondary: #051851;
$color-light: #f1f5ff;
$color-text: #333;
$color-menu: #484848;
$color-text-black: #000000;

$light-background: #FFFFFF;
$light-border: #EBEBEB;
$light-text: #121212;
$light-hover-bg: #fff;
$light-box-shadow: rgba(0, 0, 0, 0.1);

$dark-background: #121212;
$dark-border: #333333;
$dark-text: #FFFFFF;
$dark-hover-bg: #000;
$dark-box-shadow: rgba(255, 255, 255, 0.1);